.env
04_aula.ipynb
05_aula.ipynb
06_aula.ipynb
07_aula.py
08_aula.ipynb
09_aula copy.ipynb
09_aula.ipynb
10_aula.py
11_e_12_aula.ipynb
13_aula.ipynb
15_aula.ipynb
16_aula.ipynb
17_aula.ipynb
18_aula.ipynb
19_aula.ipynb
20_aula.py
Apostila - Explorando a API da OpenAI.pdf
14_aula.ipynb
